@use "../../assets/styles/extends";

.cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    
    .cartProducts {
        display: flex;
        flex-direction: column;
        
        .cartProductsTitle {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // background-color: beige;

            .cartProductsTitleButton {
                @extend %button_base;
                width: auto;
            }
        }

        .cartProductsPanel {
            padding: 1rem 0;
            // background-color: aqua;
        }
    }

    .cartResume {
        display: flex;
        flex-direction: column;

        a {
            @extend %anchor_base;
        }
    }
    
}