@use "sass:map";
@use "../../assets/styles/variables";
@use "../../assets/styles/extends";

.itemDetail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;

    .itemDetailCard {
        border-radius: 5px;
        max-width: 250px;
        box-shadow: 0 2px 4px 0 map.get(variables.$colores, negro-semistransparente-suave);
        padding: 10px;
        font-size: 0.8rem;
        color: map.get(variables.$colores, secundario);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);

        .itemDetailCardHeader {
            h2 {
                font-size: 1rem;
                font-weight: bold;
            }
        }

        
        .itemDetailCardImage {
            width: 100%;
        }
        

        .itemDetailCardSection {

            .itemDetailCardSectionBrand {
                color: map.get(variables.$colores, terciario);
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: bold;
            }

            .itemDetailCardSectionKeyValue {
                span {
                    font-size: 0.8rem;                

                    &:nth-child(1) {
                        font-weight: bold;
                    }
                }
            }
        }

        .itemDetailCardFooter {
            a {
                @extend %anchor_base;
            }
        }
    }
}