@use "sass:map";
@use "../../assets/styles/variables";
@use "../../assets/styles/extends";

.item {
    border-radius: 5px;
    // max-width: 250px;
    box-shadow: 0 2px 4px 0 map.get(variables.$colores, negro-semistransparente-suave);
    padding: 10px;
    font-size: 0.8rem;
    color: map.get(variables.$colores, secundario);
    // background-color: beige;
    width: 100%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);

    .itemHeader {
        h2 {
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .itemImage {            
        width: 100%;
    }
    

    .itemSection {

        .itemSectionBrand {
            color: map.get(variables.$colores, terciario);
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: bold;
        }

        .itemSectionKeyValue {
            span {
                font-size: 0.8rem;                

                &:nth-child(1) {
                    font-weight: bold;
                }
            }
        }
        

    }

    .itemFooter {
        a {
            @extend %anchor_base;
        }
    }
}






