@use "sass:map";
@use "../../assets/styles/variables";

.navbar {
    background: map.get(variables.$colores, primario);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // padding: 10px;

    a {
        text-decoration: none;
        color: map.get(variables.$colores, blanco);
        display: inline-block;
        padding: 10px;

        &:hover {
            background-color: map.get(variables.$colores, secundario);
        }
    }
}