@use "sass:map";
@use "../../assets/styles/variables";
@use "../../assets/styles/extends";

.cartItem {
    display: flex;
    flex-direction: row;
    // border: 1px;
    // border-style: solid;
    // border-color: black;
    margin: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.20);

    .cartItemImage {        
        width: 120px;
        object-fit: cover;        
    }

    .cartItemSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;

            .cartItemSectionName {
                font-size: 1rem;
                font-weight: bold;
            }
        
            .cartItemSectionBrand {
                color: map.get(variables.$colores, terciario);
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: bold;
            }

            .cartItemSectionKeyValue {
                span {
                    font-size: 0.8rem;                

                    &:nth-child(1) {
                        font-weight: bold;
                    }
                }
            }

    }

    .cartItemFooter {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        .cartItemFooterItemCount {
            width: 140px;
            padding-right: 20px;
        }

        .cartItemFooterButton {
            @extend %button_base;
            width: auto;
        }
    }
}
