.cartItem {
    display: flex;
    flex-direction: row;

    picture {
        img {
            width: 120px;
        }
    }

    section {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
