@use "../../assets/styles/extends";

.itemCount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .itemCountButton {
        @extend %button_base;
        width: auto;
    }

    .itemCountText {
        font-size: 1.2rem;
        font-weight: bold;
    }
}